<div id="player"></div>
<button (click)="togglePlayPause()">
  {{ player && player.getPlayerState() === 1 ? 'Pausar' : 'Reproducir' }}
</button>
<div> Tiempo transcurrido: {{ formatTime(videoProgress) }}</div>
<div> Duración total: {{ formatTime(getVideoDuration()) }}</div>

<input type="range" min="0" max="100" step="1" [(ngModel)]="volume" (input)="setVolume()">
<input type="range" min="0" [max]="getVideoDuration()" step="1" [(ngModel)]="videoProgress" (input)="seekTo()">
<button (click)="toggleFullScreen()">Pantalla completa</button>
<button (click)="exitFullScreen()">Salir de pantalla completa</button>
